@font-face {
    font-family: 'Roboto';
    src: url(../Fontes/Roboto-Bold.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto'; 
    color: white;
  }
  body {
    height: 100vh;
    background-image: linear-gradient( 
      #045933 2%,
      #0bd97c 5%,
      black 10%,
      black 90%,
      #0bd97c 95%,
      #045933 98% );
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 5em 4em 5em;
    width: auto;
    height: 35em;
  }

  h1 {
    text-align: center;
    font-size: 4em;
    margin-top: 1.5em;
  }

  div img {
    display: flex;
    margin: auto;
    border: 5px solid #b8ffda;
    box-shadow: 0px 0px 2em 0.5em #4effa4;
    border-radius: 50%;
    width: 18em;
    height: 18em;
  }

  p {
    text-align: center;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    margin-bottom: 1em;
  }

  ul {
    list-style: none;
  }

  li {
    display: inline;
    margin: 1em;
  }

  a {
    text-decoration: none;
  }